/*CSS for the basic frame when the mode is set on "text_img" (both the scans and the transcriptions are visible).*/


html, body{
	margin:0; 
	padding:0; 
	font-family: "Trebuchet MS", Georgia, Arial, sans-serif; 
	font-size:14px;
	left:0;	
	background-color:#e2dcc5;
}
h3{
	color:#000; /*Overwrites a value on BookReader.css*/
}

#global_wrapper{ 
	min-width: 1024px;
	min-height: 560px;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color:#e2dcc5;
	left:0;
}

#mode_switch{
	position:relative;
	width: 50%;
	height:25px;
	margin:auto;
}

#pdf_src,#text_only,#text_img,#img_only,#xml_code{	/*Divs for each different mode*/
/*	text-align:center;
	float:left;
	width:20%;
	margin:auto;*/
}
.btn { /*Colors for the button of the #switch_mode*/
    color: #332B2A;
    background-color:#CDC6C0;
}

#central_wrapper.text_img{ /*Style and position in case the class is the default one.*/
	margin: 0 auto 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 25px; /*#mode_switch(height:25px)*/
	overflow: hidden; /*The overflow is on #BRcontainer and #text*/
}

/*Style for the BookReader side*/
#central_wrapper.text_img #BookReader{
    position:absolute;
    font-family: arial, sans-serif;
    left:0;
    width: 50%;
    top: 40px;
    bottom: 0;
    z-index: 2;
}
#BRtoolbar{visibility:hidden;}
#central_wrapper.text_img .twopg{visibility:hidden;}
#BRnavCntlBtm{visibility:hidden;}
#BRcontainer, #BRpageview{background-color: #000;}
div#BRnav{
	background-color: #A29791;
	/*To make the navigation bar fixed at the top*/
	top: 25px;
}

/*Style for the text side*/
#central_wrapper.text_img #text {
    position:absolute;
    font-family: arial, sans-serif;
    left:50%;
    width: 50%;
    top: 40px;
    bottom:0;
    z-index: 1;
	overflow:scroll;
	background-color:#FFF;
}
#text_padding{
	width:auto;
	margin:5%;
	background:#FFF;
}

/*Style for the footer*/
#central_wrapper.text_img #footer{
	width: 100%;
	height: 40px;
	background-color: #A29791;
	/*To make te header be at the bottom*/
	position: absolute;
    bottom: 0px;
    z-index: 3; /*So it stays over the text*/
}
#img_features{
	position: absolute;
	width:50%;
	top: 10px;
	left: 0;
	text-align:center;
}
#text_features{
	position: absolute;
	width:50%;
	top: 10px;
	-moz-top:0px; /*For Mozilla*/
	right: 0;
	text-align:center;
}
#select_page, #pages, .page{
	visibility:hidden;
	width: 0px;
	height: 0px;
	font-size: 0px;
	border: 0px;
}
#feature, #transcr_view{
	margin:auto;
	text-align:center;
	height:20px;
}
/*#text_search, #transcr_switch{*/
#transcr_view{
	float:left;
	width:50%;
}

#transcr_type{ /*Transcription type*/
	display: block;
	list-style-type: none;
	/*To replace value from BookReader.css*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin:auto;
    cursor: pointer; 
	cursor: hand;
}

/*Selectors*/
#interp_button.hidden, #transcr_button.hidden{display: none;}
#interp_button li, #transcr_button li{
	background-color: #CDC6C0;
	border: solid 1px #FFF;
	cursor: pointer; 
	cursor: hand;
	width: 55%;	
}
#interp_button p, #transcr_button p{
	height: 40px;
	/*To replace value from BookReader.css*/
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0px;
    padding-top: 15px;
}

#interp_button.visible, #transcr_button.visible{
	list-style-type: none;
	position: absolute;
	bottom: 10px;
	width: 55%;
	/*To replace value from BookReader.css*/
    -webkit-padding-start: 0px;
    -moz-margin-start:-40px;
}

#interp_button.visible{
    left:50%;
}

.sub_name.hidden{display: none;}
#sub_name.visible{	
	width: 100%;	
	list-style-type: none;
	position: absolute;
	left: 45%;
	bottom:0px;
}
#sub_name.visible li{background-color: #A29791 !important;}
#sub_name.visible p{
	display: block;
	/*To replace value from BookReader.css*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/*
#transcr_button.hidden{display: none;}
#transcr_button.visible{	
	width: 100%;	
	list-style-type: none;
	position: absolute;
	left: 40%;
	bottom:0px;
}
*/
#transcr_button.visible li{background-color: #A29791 !important;}
#transcr_button.visible p{
	display: block;
	/*To replace value from BookReader.css*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/*For the tooltip that appears when hovering on discourse parts.*/
.tooltip {
	display:none;
	position:absolute;
	border:1px solid #A29791;
	background-color:#e2dcc5;
	border-radius:5px;
	padding:10px;
	/*font-size:12px Arial;*/
	font-size:10px;
}
